html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.homePage-background{
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: #fff;
    margin: 0;
    padding: 0;
    top: -160px;
}

.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: url("./images/otto-norin-zuLYIQ-4ADQ-unsplash\ \(1\).jpg")center center/cover no-repeat;
    transform: scale(1);
    transform-origin: center center;
    z-index: 1;
}

/*changing the footer*/
main {
    min-height: auto !important;
    background: white;
}

/*atKlava Page heading*/
.about-heading{
    opacity: 0;
    transform: translateY(140px);
    font-size: 140px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, white 50%, #5B002C 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 72px;
    z-index: 1;
}

/*KLAVA's story heading*/
.story-heading{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-bottom: 2rem;
}

.about-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

/*Klava's story paragraph*/
.about-info{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 8rem;
}

.about-text{
    max-width: 600px;
    margin: 0 auto 0 0;
    flex: 1;
    line-height: 1.7;
}

.about-text p{
    margin-bottom: 1.5rem;
    line-height: 1.7;
}

.about-info img{
    width: 500px;
    height: 500px;
}

/*The bottom last part of the page: The image, links and address*/
.bottom-layout {
    position: relative;
    max-width: 1200px;
    margin: 3rem auto 0 auto; /*centers whole row*/
    display: flex;
    align-items: flex-start;
    gap: 0rem;
    margin-bottom: 7rem;
}

.bottom-layout img{
    width: 500px;
    height: 500px;
}


/*styling the middle links*/
.pages-links{
    flex: 0;
    display: flex;
    align-items: flex-start;
    border-right: 2px solid beige;
    padding-left: 1rem;
    padding-right: 2rem;
}

.pages-links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

.pages-links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.566);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    transition: all 0.3s ease;
}

.pages-links a:hover{
    color: black;
    background-color: beige;
    padding: 2px 6px;
    border-radius: 5px;
}

/*styling the address box*/
/*Black Address box with its info*/
.address-section{
    position: absolute;
    left: 60%;
    top: 0;
    height: 375px;
    width: 625px;
    border: 1px solid black;
    background-color: black;
}

.address-section h2{
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(250, 230, 206);
    padding: 35px;
}

#address-links, address{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    font-style: normal;
    text-decoration: none;
    padding: 10px 35px;
}

#address-links{
    padding: 2px;
}

.address-section p{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    padding: 10px 35px;
}

.address-section button{
    height: 40px;
    width: 110px;
    font-size: 15px;
    color: beige;
    border-radius: 25px;
    border: 1px solid beige;
    background-color: transparent;
    cursor: pointer;
    margin-left: 35px;
    margin-top: 15px;
}

.address-section button:hover{
    color: black;
    background-color: beige;
}

/*KLAVA's signature*/
.klava-signature{
    height: 200px;
    width: 600px;
    margin-left: 500px;
    margin-top: 100px;
}

#svg-signature{
    width: 600px;
    height: 200px;
    display: block;
}

 #signature{
    fill: none;
    stroke: #000;
    stroke-width: 3;
 }