html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.homePage-background{
    position: relative;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    color: #fff;
    margin: 0;
    padding: 0;
    top: -160px;
}

.bg-image{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80%;
    background: url("images/skyler-ewing-x4lZtZxX9LY-unsplash\ \(1\).jpg")center center/cover no-repeat;
    transform: scale(1);
    transform-origin: center center;
    z-index: 1;
}

/*changing the footer*/
main {
    min-height: 580vh;
    background: #f6f7fb;
}

/*atKlava Page heading*/
.atKlava-heading{
    opacity: 0;
    transform: translateY(140px);
    font-size: 140px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, white 50%, rgb(122, 0, 43) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px white;
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 72px;
    z-index: 1;
}

/*menu headings: pastry, cake and desserts*/
.pastry{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-left: 70px;
    margin-top: -22px;
}

/*Filter buttons*/
.elegant-pastry{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 70px;
    position: relative;
}

.button-group{
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.stagger-btn{
    padding: 12px 25px;
    font-size: 18px;
    border: 2px solid #5B002C;
    background-color: transparent;
    color: #5B002C;
    cursor: pointer;
    opacity: 0;
    transform: translate(40px);
}

.stagger-btn:hover{
    background-color: #5B002C;
    color: white;
    box-shadow: 0 0 20px #5B002C;
}

/*menu section - image and menu list*/
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transform: scale(0.8);
    opacity: 0.8;
    transition: all 0.3 ease;
    margin-bottom: 52px;
}

.Menu-content{
    display: flex;
    width: 80%;
    height: 70%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.15);
}

.image-container{
    flex: 1;
    overflow: hidden;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-list{
    background-color: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu-list ul li{
    font-size: 20px; 
    margin: 0.6rem 0;
    list-style: none;
}

/*cakes heading*/
.cakes{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-left: 70px;
    
}

/*desserts heading*/
.desserts{
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-left: 70px;  
}

#menu1, 
#menu2{
    margin-bottom: 120px;
}

/*Klava's signature*/
.klava-signature{
    height: 200px;
    width: 600px;
    margin-left: 500px;
    margin-top: 100px;
}

#svg-signature{
    width: 600px;
    height: 200px;
    display: block;
}

 #signature{
    fill: none;
    stroke: #000;
    stroke-width: 3;
 }