*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 80px;
    height: 100%;
    margin: 0;
}



/*navbar*/
.navbar{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    z-index: 1000;
    padding: 0 60px; 
    transition: background-color 0.3s ease; 
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    flex: 0;
    gap: 30px;
   
}

.nav-links a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    transition: color 0.3s ease;
    white-space: nowrap;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo{
    font-family: 'playfair display';
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
    margin-left: -20px;
}

.logo a{
    text-decoration: none;
    color: white;
}

/*when scrolled past the homePage-background section*/
.navbar.black-bg {
    background-color: black;
    backdrop-filter: none;
}

/*keep text/logo white for contrast*/


/*footer*/
footer{
    background-color: black;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

footer a{
    color: whitesmoke;
    text-decoration: none;
    font-weight: 300;
    font-size: 15px;
}

footer a:hover {
    color: rgb(177, 173, 173);
}

.copyright-notice{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    color: whitesmoke;
    font-weight: 300;
    font-size: 15px;
}

.hamburger{
    display: none;
}